
.content{
    margin-top: auto;
}
.content__title {
  margin: auto 0 5% 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}
.content__text {
  margin: 0 0 8% 0;
  font-size: 24px;
  line-height: 36px;
}
.content__input-wrapper {
  display: flex;
}
.content__form-question {
  font-size: 36px;
  line-height: 60px;
  margin: 0 5% 0 0;
  font-weight: 400;
}
.content__form-input {
  max-width: 26%;
  width: 100%;
  text-align: center;
  border-radius: 100px;
  outline: none;
  border: 0;
  font-size: 1.5rem;
  line-height: 1.6rem;
  box-shadow: 0px 20px 60px #c9d8ff;
  padding: 0.9rem 1.5rem;
  transition: box-shadow 0.2s linear;
}
.content__form-input:hover {
  box-shadow: 0px 20px 60px #96b3ff;
}
.content__form-input:focus {
  box-shadow: 0px 20px 60px #96b3ff;
}
.content__form-input::placeholder {
  font-size: 1.5rem;
  line-height: 1.6rem;
  letter-spacing: -0.02em;
  opacity: 0.7;
}