.mail .content__text{
  margin-top: auto;
  padding-right: 200px;
}
.content__link {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.content__link:hover {
    text-decoration: underline;
}

.content__link-icon {
    width: 20px;
    vertical-align: middle;
  }
