.video .content__text {
    margin-top: auto;
}
.iframe {
    width: 405px;
    height: 210px;
    border-radius: 20px;
    border: none;
    margin: 2rem 3.2rem 0 0px;
}

.video .content__text {
    margin-bottom: 20px;
}

.section-video__content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
    margin-bottom: auto;
}