.video {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.video-wrapper {
    display: flex;
    margin-top: auto;
}
.iframe {
    width: 405px;
    height: 210px;
    border-radius: 20px;
    border: none;
    margin: 2rem 3.2rem 0 0px;
}

.video .content__text {
    margin-bottom: 20px;
}
.video__content-wrapper {
    padding-top: 10rem;
   margin-top: auto;
}
.video .next-button__container {
    align-items: center;
  }
.next-button__container .content__text {
    margin: 0 20px 0 0;
}
.back-button {
   width: 92px;
   height: 92px;
  }
