.video {
    display: flex;
    flex-direction: column;
}

.video-wrapper {
    display: flex;
}

.video .content__text {
    margin-top: auto;
}
.iframe {
    width: 405px;
    height: 210px;
    border-radius: 20px;
    border: none;
    margin: 2rem 3.2rem 0 0px;
}

.video .content__text {
    margin-bottom: 20px;
}

.next-button__container {
    display: flex;
    margin-top: auto;
    justify-content: flex-end;
    align-items: center;
  }

.back-button {
    display: flex;
    margin-left: 30px;
    width: 120px;
    align-items: center;
    justify-content: center;
    height: 120px;
    border: 2px solid #fff;
    border-radius: 100px;
    position: relative;
    background-color: transparent;
  }

  