@import url(../src/vendor/normalize.css);
@import url(../src/fonts/NeueHaasUnica-Regular/style.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  outline: none;
}
@media screen and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 10px;
  }
}
